.contactPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 100%;
  text-align: left;
  padding: 200px;
}

.contactPage p {
  text-align: left;
  width: 100%;
  font-size: 1.6rem;
}
